.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefc01;
    height: 100vh;
}

.chat_logo{
    object-fit: contain;
    height: 100px;
}

.app_body{
    background: url("https://www.clipartmax.com/png/full/481-4819911_clip-black-and-white-silhouette-mobile-at-getdrawings-cell-phone-icon-transparent.png") no-repeat center;
    background-size: contain;
    height: 400px;
    width: 250px;
    padding: 74px;
}

.app_bodyBackground{
    background-color: white;
    height:400px;
    
}